* {
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Courier New', Courier, monospace;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: auto;
    width: auto;
}

#logo {
    /* height: 70%;
    width: 70%; */
    height: 18vmin;
    width: 75vmin;
    margin-top: 5%;
}

.body-bg {
    position: fixed;
    background-image: url('assets/SJM-TOP-SYMBOL.png');
    background-repeat: repeat-x;
    background-position: right top;
    background-size: 50cqh;
    width: 100%;
    top: -3px;
    left: -3px;
}

.img-bot {
    width: 100%;
    height: 5%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.true_body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#form_login {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

input {
    font-size: 16px;
    height: 5vh;
    width: 15rem;
    border-radius: 3px;
    border-width: 1px;
    border-style: ridge;
}

button {
    color: #005E35;
    font-size: 16px;
    background-color: #0000;
    height: 45px;
    width: 90px;
    border-radius: 3px;
    border-width: 1px;
    border-style: ridge;
}

button::before {
    color: #005E35;
    background-color: #0000;
    height: 45px;
    width: 90px;
    border-radius: 0;
    border-width: 1px;
    border-style: ridge;
}

#back {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    margin-left: 15px;
    font-size: 1.2em;
    padding: 2px;
    border: solid 1px #0000005c;
    width: 80px;
    height: 30px;
    border-radius: 3px;
}

.back {
    text-decoration: none;
    color: black;
}

/* MODAL STYLING */
/* Style the modal backdrop */
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Style the modal box itself */
dialog {
    width: 200px;
    height: 200px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Center the modal on the screen (optional, showModal handles position) */
    margin: auto; 
}

.modal-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

